*{
    font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.loginformbc{
    height: 100vh;
    display: flex;
    flex-direction: column;
    left: auto;
    background: rgb(235,162,65);
    background: linear-gradient(90deg, rgba(235,162,65,1) 5%, rgba(202,159,133,1) 99%);
}

.LoginForm{
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vh;
    margin: auto;
    border-radius: 20px;
    border: solid rgb(194, 130, 10) 2px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    
}

.header{
    font-size: 30px;
    padding: 0;  
    margin-top: 0;
    margin-bottom: 60px;
    font-weight: bold;
    color: rgb(149, 98, 10);
   
}

.form{
    padding-bottom: 50px; 
   
}
 
.gotoregister{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.abc{
    font-weight: normal;
    padding-right: 8px;
}
.regbutton{
    color: white;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    border: solid rgb(194, 130, 10) 2px;
    background-color: rgb(230, 163, 38);
    cursor: pointer;
    
}
.loginbutton{
    width: 90px;
    height: 30px;
    border-radius: 20px;
    border: solid rgb(194, 130, 10) 2px;
    background-color: rgb(230, 163, 38);
    cursor: pointer;
}