.container {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  background-color: lavenderblush; /* Background color for the entire container */
}

.details-container {
  width: 60%;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  align-items: center;
}

.profile-photo-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  height: 20%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: white;
}

.prolabel {
  display: block;
}

.current-photo-wrapper {
  align-items: center;
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #eee;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.current-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 5px;
}

.pinput {
  display: none;
}

.update-icon {
  position: absolute;
  background-color: #4caf50;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  bottom: 10px;
  right: 100px;
}

.dlabel {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.plabel {
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
  color: #333;
  font-weight: bold;
  margin-left: 4px;
  margin-top: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}
