/* ProfileItem.css */

.profileItem {
    display: flex;
    border-radius: 5px;
    
    padding: 10px;
  }
  
  .avatar img {
    width: 100%;
    border-radius: 50%;
  }
  
  .profileDetails {
    flex: 1;
    margin-left: 15px;
  }
  
  .profileDetails p {
    margin: 4px 0;
  }
  
  /* Adjust styles as needed for better layout and appearance */
  